@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Rubik:wght@300;400&display=swap');
body {
  font-family: "Rubik", sans-serif !important;
}
/*HOME PAGE*/
/* navbar */
a.nav-link {
  font-size: 14px !important;
  color: #fff !important;
}
a.nav-link:hover {
  color: #d80c56 !important;
}
a.nav-link:active {
  color: #d80c56 !important;
}
.btn-secondary {
  background-color: #d80c56 !important;
  color: #fff !important;
  border: none !important;
  font-size: 14px !important;
  padding: 10px 40px 10px 40px !important;
}
ul.dropdown-menu {
  background-color: #d80c56 !important;
  font-size: 14px !important;
  width: 100% !important;
}
/*tabbar*/
.nav-pills button {
  color: #1220481C;
  font-size: 25px !important ;
  font-weight: bolder !important;
}
button#pills-who-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-who-tab.active span{
  background-color: transparent !important;
  color: #D80C56 !important;
}
button#pills-what-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-what-tab.active span{
  background-color: transparent !important;
  color: #3448FF !important;
}
button#pills-why-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-why-tab.active span{
  background-color: transparent !important;
  color: #CC03C3 !important;
}
button#pills-how-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-how-tab.active span{
  background-color: transparent !important;
  color: #FDCD1E !important;
}
/*tabbar card*/
.tabbar .card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 20px;
}
.tabbar .card .active {
  background-color: #d80c56;
}
.tabbar .card img {
  padding: 20px;
  border-radius: 10px;
}
.tabbar .card h1 {
  color: #122048;
  font-weight: bolder !important;
  font-size: 20px;
}
.tabbar .card p {
  color: #122048;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.5rem;
  padding: 0px 30px 0px 30px;
}
.tabbar .btn-outline-secondary {
  color: #122048;
  font-size: 13px;
  font-weight: bold;
  text-align: center !important;
}
.tabbar .btn-outline-secondary:hover {
  background-color: #122048;
  font-size: 13px;
  font-weight: bold;
}
/* Satisfaction */
#satification h2 {
  font-weight: bolder;
  color: #122048;
}
#satification p {
  color: #989DBB;
  font-size: 12px;
}
#satification .bi-star-fill {
  color: #15C5CE;
  font-size: 10px;
}
hr {
  color: #E0E2EF !important;
  height: 2px !important;
}
/*customer*/
.bi-check-circle-fill {
  color: #d80c56;
  font-size: 20px;
}
.btn-light {
  background-color: #d80c56 !important;
  color: #fff !important;
  font-size: 13px !important;
}
.bi-arrow-right {
  padding-left: 50px;
}
#customer h1 {
  font-family: 'Montserrat', sans-serif;
  color: #121313;
  font-weight: bolder;
}
#customer p {
  font-family: 'Montserrat', sans-serif;
  color: #121313;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: normal;
}
#customer div {
  font-family: 'Montserrat', sans-serif;
  color: #121313;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 600;
}
/*Ecommerce*/
#ecommerce {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21, 
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
#ecommerce h1 {
  font-weight: normal;
}
#ecommerce h1 span {
  font-weight: 900;
}
#ecommerce p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 2rem;
}
#ecommerce h6 {
  font-size: 12px;
  margin-top: 15px;
}
/*Preference*/
/*FAQ*/
#faq {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21, 
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
#accordion {
  border: none !important;
}
#faq h1 {
  color:  #fff;
  font-weight: 900;
  font-size: 50px;
}
#faq p {
  color:  #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 40px;
  line-height: 2rem;
}
.btn-dark {
  background-color: #fff !important;
  color: #122048 !important;
  padding: 10px 60px 10px 60px !important;
  font-size: 14px !important;
}
/*card*/
.dashed {
  border-top: 1px dashed white;
}
.card {
    background-color: rgba(187, 187, 187, 0.123) !important;
    border-radius: 5px !important;
}
.color-card {
    border-color: #d80c56 !important;
}
.card li {
  font-weight: bolder;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}
.card li span {
    font-weight: lighter !important;
}
/* footer */
#footer {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21, 
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
#footer a {
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Manrope", sans-serif !important;
}
#footer a:hover {
  color: #d80c56 !important;
}
#footer h5 {
  font-weight: bold !important;
  font-family: "Manrope", sans-serif !important;
}
#footer .btn-subcribtion {
  background-color: #d80c56 !important;
  border: none !important;
  border-radius: none !important;
  padding: 5px 30px 5px 30px !important;
  font-size: 12px !important;
  color: #fff !important;
}
/*SUB PAGE*/
.dark-bg {
  background-image: url('../image/header.svg');
  background-size: cover;
  background-position: center center;
}
#featurettes h6 {
  font-family: "Manrope", sans-serif !important;
  font-weight: bolder;
  color: #384F88;
  font-size: 15px;
}
#featurettes h2 {
  font-weight: bold;
}
#featurettes li {
  font-weight: bold;
  color: #757095;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
.featurette {
  padding-bottom: 100px !important;
}
/*web-tech*/
.web-tech h1 {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
}
.web-tech h1 span {
  color: #D80C56;
  font-weight: bolder;
}
.web-tech p {
  padding-left: 50px;
  padding-right: 50px; 
  line-height: 2rem; 
}
#web-tech .card {
  background-color: transparent !important;
  border: none;
}
#web-tech h3 {
  font-size: 15px;
  color: #22092D;
}
#web-tech p {
  font-size: 13px;
  color: #837F84;
  line-height: 1.5rem;
}