@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Rubik:wght@300;400&display=swap");
body {
  font-family: "Rubik", sans-serif !important;
}
/*HOME PAGE*/
#landing-page {
  background-image: url("../image/header.png");
  background-size: cover;
  background-position: center center;
}
/* #landing-page {
  height: 100vh;
} */
.container-div {
  height: 100vh;
}
/* navbar */
a.nav-link {
  font-size: 14px !important;
  color: #fff !important;
}
a.nav-link:hover {
  color: #d80c56 !important;
}
a.nav-link:active {
  color: #d80c56 !important;
}
.dash-navbar {
  border-top: 1px dashed #000000;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.dropdown h4 {
  font-size: 14px;
  font-weight: bold;
  color: #111b29;
  margin-bottom: 10px;
}
.dropdown p,
a {
  font-size: 12px;
  text-decoration: none !important;
  color: #111b29 !important;
}
.dropdown a:hover {
  color: #d80c56 !important;
}
.btn-secondary {
  background-color: #fff !important;
  color: #080e21 !important;
  border: none !important;
  font-size: 14px !important;
  padding: 10px 40px 10px 40px !important;
  font-weight: 600 !important;
}
/*tabbar*/
.nav-pills button {
  color: #1220481c;
  font-size: 25px !important ;
  font-weight: bolder !important;
}
button#pills-who-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-who-tab.active span {
  background-color: transparent !important;
  color: #d80c56 !important;
}
button#pills-what-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-what-tab.active span {
  background-color: transparent !important;
  color: #3448ff !important;
}
button#pills-why-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-why-tab.active span {
  background-color: transparent !important;
  color: #cc03c3 !important;
}
button#pills-how-tab.active {
  background-color: transparent !important;
  color: #122048 !important;
}
button#pills-how-tab.active span {
  background-color: transparent !important;
  color: #fdcd1e !important;
}
/*tabbar card*/
.tabbar .card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 20px;
}
.tabbar .card .active {
  background-color: #d80c56;
}
.tabbar .card img {
  padding: 20px;
  border-radius: 10px;
}
.tabbar .card h1 {
  color: #122048;
  font-weight: bolder !important;
  font-size: 20px;
}
.tabbar .card p {
  color: #122048;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.5rem;
  padding: 0px 30px 0px 30px;
}
.tabbar .btn-outline-secondary {
  color: #122048;
  font-size: 13px;
  font-weight: bold;
  text-align: center !important;
}
.tabbar .btn-outline-secondary:hover {
  background-color: #122048;
  font-size: 13px;
  font-weight: bold;
}
/* Satisfaction */
#satification h2 {
  font-weight: bolder;
  color: #122048;
}
#satification p {
  color: #989dbb;
  font-size: 12px;
}
#satification .bi-star-fill {
  color: #15c5ce;
  font-size: 10px;
}
hr {
  color: #e0e2ef !important;
  height: 2px !important;
}
/*customer*/
.bi-check-circle-fill {
  color: #d80c56;
  font-size: 20px;
}
.btn-light {
  background-color: #d80c56 !important;
  color: #fff !important;
  font-size: 13px !important;
}
.bi-arrow-right {
  padding-left: 50px;
}
#customer h1 {
  font-family: "Montserrat", sans-serif;
  color: #121313;
  font-weight: bolder;
}
#customer p {
  font-family: "Montserrat", sans-serif;
  color: #121313;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: normal;
}
#customer div {
  font-family: "Montserrat", sans-serif;
  color: #121313;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 600;
}
/*Ecommerce*/
#ecommerce {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21,
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
#ecommerce h1 {
  font-weight: normal;
}
#ecommerce h1 span {
  font-weight: 900;
}
#ecommerce p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 2rem;
}
#ecommerce h6 {
  font-size: 12px;
  margin-top: 15px;
}
/*Preference*/
#preference {
  background-color: #f8f9fa;
}
#preference h6 {
  font-size: 12px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  color: #959ead;
}
#preference h3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  color: #183b56;
}
#preference .card {
  background-color: #fff !important;
  border-radius: 10px;
  border: none;
}
.carousel-indicators button {
  background-color: #d80c56 !important;
}
#preference a {
  font-size: 12px;
  padding: 50px 0px 0px 0px;
  margin: 50px 0px 0px 0px;
  text-decoration: none;
  color: #d80c56;
  font-weight: bold;
}
/*Need*/
#need {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21,
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
#need h1 {
  font-size: 30px;
}
#need p {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  margin-top: 20px;
}
#need .contact {
  border: none;
}
.btn-outline-light {
  font-size: 12px !important;
}
/*FAQ*/
#faq {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21,
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
.accordion-body {
  background-color: #080e21 !important;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
  line-height: 1.5rem;
}
.accordion-item {
  border: none !important;
}
.accordion-button {
  background-color: #080e21 !important;
  color: #fff !important;
  font-size: 13px !important;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 0px !important;
}
#faq h1 {
  color: #fff;
  font-weight: 900;
  font-size: 50px;
}
#faq p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 40px;
  line-height: 2rem;
}
.btn-dark {
  background-color: #fff !important;
  color: #122048 !important;
  padding: 10px 60px 10px 60px !important;
  font-size: 14px !important;
}
/*card*/
.dashed {
  border-top: 1px dashed white;
}
.card {
  background-color: rgba(187, 187, 187, 0.123) !important;
  border-radius: 5px !important;
}
.color-card {
  border-color: #d80c56 !important;
}
.card li {
  font-weight: bolder;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}
.card li span {
  font-weight: lighter !important;
}
/* footer */
#footer {
  background-image: linear-gradient(
    to right bottom,
    #4676ce6b,
    #080e21,
    #080e21,
    #080e21,
    #080e21,
    #4676ce6b
  );
  background-color: #080e21;
  color: #fff;
}
#footer a {
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Manrope", sans-serif !important;
}
#footer a:hover {
  color: #d80c56 !important;
}
#footer h5 {
  font-weight: bold !important;
  font-family: "Manrope", sans-serif !important;
}
#footer .btn-subcribtion {
  background-color: #d80c56 !important;
  border: none !important;
  border-radius: none !important;
  padding: 5px 30px 5px 30px !important;
  font-size: 12px !important;
  color: #fff !important;
}
.copyright {
  font-family: "Manrope", sans-serif !important;
  font-size: 14px;
  padding-left: 40px;
}
/*SUB PAGE*/
#featurettes h6 {
  font-family: "Manrope", sans-serif !important;
  font-weight: bolder;
  color: #384f88;
  font-size: 15px;
}
#featurettes h2 {
  font-weight: bold;
}
#featurettes li {
  font-weight: bold;
  color: #757095;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}
.featurette {
  padding-bottom: 100px !important;
}
/*web-tech*/
.web-tech h1 {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
}
.web-tech h1 span {
  color: #d80c56;
  font-weight: bolder;
}
.web-tech p {
  padding-left: 50px;
  padding-right: 50px;
  line-height: 2rem;
}
#web-tech .card {
  background-color: transparent !important;
  border: none;
}
#web-tech h3 {
  font-size: 15px;
  color: #22092d;
}
#web-tech p {
  font-size: 13px;
  color: #837f84;
  line-height: 1.5rem;
}
/* MISSION PAGE*/
#mission {
  background-color: #eef5ff;
  color: #283646;
}
#mission h1 span {
  color: #d80c56;
}
#mission p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.mission-description {
  font-size: 15px !important;
  font-family: "Montserrat", sans-serif;
  line-height: 1.75rem;
}
#mission i {
  background-color: #eef5ff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  color: #d80c56;
  margin-right: 5px;
  margin-left: 5px;
}
#mission .card {
  border: none;
  background-color: #fff !important;
}
#mission h3 {
  font-weight: bold;
}
#mission h6 {
  font-size: 14px;
  font-weight: bold;
}
/*SubPageThree*/
#bixcod {
  color: #121313;
}
#bixcod p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.75rem;
}
#bixcod i {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.bixcod p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.bixcod h6 {
  margin-top: 20px;
}
.desktop-sofware {
  background-color: #d80c56;
  color: #fff;
}
#bixcod .card {
  background-color: #fff !important;
  margin-bottom: 20px;
  border: none;
}
#bixcod img {
  width: 50px;
  margin-top: 10px;
}
#bixcod-description {
  background-image: url("../image/mask-group.svg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  background-color: #122048;
}
#bixcod-description h2 span {
  color: #d80c56;
}
.white-line {
  height: 35vh;
}
